<a href="https://colab.research.google.com/github/kj1103/AI---testy/blob/main/def_cwiczenia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
y_true = [0, 0, 1, 1, 0, 1, 0]
y_pred = [0, 0, 1, 0, 0, 1, 0]

a = (sum(1 for yt, yp in zip(y_true, y_pred) if yt == yp))
accuracy = a/len(y_true)
#print(accuracy)

def mae(y_true, y_pred):
    return round(sum(abs(i - j) for i, j in zip(y_true, y_pred)) / len(y_true), 3)

In [13]:
y_true = [10, 10.5, 11.2, 10.4]
y_pred = [10.2, 10.4, 10.8, 11.0]
def mae(y_true, y_pred):
    return round(sum(abs(i - j) for i, j in zip(y_true, y_pred)) / len(y_true), 3)
mae(y_true,y_pred)

0.325

In [12]:
y_true = [10, 10.5, 11.2, 10.4]
y_pred = [10.2, 10.4, 10.8, 11.0]

def mse(y_true,y_pred):
    return round(sum((i - j) ** 2 for i, j in zip(y_true, y_pred)) / len(y_true), 3)
mse(y_true,y_pred)

0.142

In [ ]:
def relu(x):
    return max(0, x)

In [16]:
items = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

def flatten(items):
  return [item for sublist in items for item in sublist]
flatten(items)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
numbers = [3, 4, 0, 2, 0, 5, 1, 6, 2]

def transfer_zeros(lst):
    result = []
    counter = 0

    for i in lst:
        if i == 0:
            counter += 1  # Liczymy zera
        else:
            result.append(i)  # Dodajemy niezerowe elementy

    result.extend([0] * counter)  # Dodajemy wszystkie zera na koniec
    return result

# Przykładowe użycie:
print(transfer_zeros(numbers))

[3, 4, 2, 5, 1, 6, 2, 0, 0]

In [ ]:
def euclidean_distance(x, y):
    squared_diff = sum((a - b) ** 2 for a, b in zip(x, y))
    return squared_diff ** 0.5

In [11]:
def arange(start, stop, step=1):
    result = []
    for i in range(start, stop, step):
        result.append(i)
    return result

def arange(start, stop, step=1):
    return list(range(start, stop, step))

arange(2,4,1)

[2, 3]

In [7]:
def fill_value(height, width, value):
    return [[value] * width for i in range(height)]

fill_value(3,2,5)

[[5, 5], [5, 5], [5, 5]]

In [12]:
def trace(array):
    return sum(array[i][i] for i in range(len(array)))

In [17]:
def transpose(array):
    return [
        [array[j][i] for j in range(len(array))]
        for i in range(len(array[0]))
    ]

transpose ([[1,2,3],
          [3,3,1]])

[[1, 3], [2, 3], [3, 1]]

In [ ]:
def max_prob(array):
    return [[max(item)] for item in array]

In [28]:
def max_prob(a):
    max_value = max(a)  # Znajdujemy maksymalną wartość
    return [1 if i == max_value else 0 for i in a]  # Tworzymy listę z 1 tylko w miejscu max

# Przykładowe użycie:
a = [0.2, 0.3, 0.9, 0.21]
print(max_prob(a))

[0, 0, 1, 0]

In [30]:
b= ([1, None, None, 5, None, 2])

def count_none(items):
  return sum(1 for item in items if item is None)

count_none(b)

3

In [35]:
list=([4, 5, 2, 9, 5, 2, 8, 2, 8, 10])
n=2

def top_n(items, n):
    return sorted(items, reverse=True)[:n]

top_n(list,n)

[10, 9]